html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}

body{
  background: white;
}

main{
  width: 600px;
}

#sketch-container{
  width: 100%;
}

#gui-container{
  width: 100%;
  margin: 10px 0;
  box-sizing: border-box;
}

/*styled button */
.button{
  background-color: #371bd3;
  border: solid 1px #371bd3;
  border-radius: 10px;
  color: white;
  padding: 15px 20px;
  text-align: center;
  text-decoration: none;
  display: block;
  margin:0 auto;
  font-size: 16px;
  min-width: 200px;
  cursor: pointer;
}
.button:hover{
  background-color:white;
  color: #371bd3;
}

.button.inactive{
  cursor:default;
  background-color: lightgray;
  border-color: lightgray;
  color: white;
}


/* Media Queries for responsive design */

/* Custom to match our canvas size */
@media screen and (max-width: 600px) {
  #gui-container{
    padding: 0 20px;
  }
}